body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
  font-weight: bold;
}

header {
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: black;
  font-weight: normal;
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav span {
  padding: 10px;
}

a {
  color: seashell;
}

p {
  padding: 15px;
}

#mission h2, h4 {
  margin: 10px;
}

.photo-div {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 1200px;
  align-items: center;

}

#mission.photo-div {
    padding-top: 70px;
    justify-content: center;
}

#mission {
  background: url("resources/images/img-mission-background.jpg") center;
  margin-bottom: 80px;
}

.photo-text {
  background-color: black;
  width: 100%;
}

#featured {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 1020px;
  justify-content: center;
  margin: auto;
}

#featured div {
  display: flex;
  flex-direction: column;
}

#featured img {
  width: 300px;
  height: 200px;
  padding: 10px;
}

#locations  {
  background: url("resources/images/img-locations-background.jpg") center;
  height: 500px;
  margin-top: 80px;
}

#locations h2 {
  margin-top: 50px;
  margin-bottom: -5px;
}

#locations div {
  display: flex;
}

#locations span {
  background-color: black;
  width: 300px;
  margin: 20px;
}

.contact {
  height: 200px;
}

footer {
  text-align: left;
  margin-left: 20px;
}
